<table align="left">
    <tr>
        <td>
            <h4><b>店舗詳細ページです．</b></h4>
        </td>
    </tr>
</table>

<hr width="600" size="3" noshade>

<% @s.each do |a| %>
<table width="450" align="center" cellpadding="1" style="table-layout: fixed;">
    <tr>
        <td>
            <img src="<%= a.logoimage_url%>"><br>
        </td>
    </tr>
    <tr>
        <td style="word-wrap: break-word;" width="615">
            <b>：店舗名： <font color="#93FFAB"><%= a.name %></font></b></td>
    </tr>
    <tr>
        <td style="word-wrap: break-word;" width="615">
            <b>：住所： <font color="#93FFAB"><%= a.address %></font></b></td>
    </tr>
    <tr>
        <td style="word-wrap: break-word;" width="615">
            <b>：営業時間： <font color="#93FFAB"><%= a.open %></font></b></td>
    </tr>
    <tr>
        <td style="word-wrap: break-word;" width="615">
            <b>：定休日： <font color="#93FFAB"><%= a.close %></font></b></td>
    </tr>
</table>
<% end %>