<table align="left">
    <tr>
        <td>
            <a href="http://webservice.recruit.co.jp/"><img src="http://webservice.recruit.co.jp/banner/hotpepper-s.gif"
                    alt="ホットペッパーグルメ Webサービス" width="135" height="17" border="0" title="ホットペッパーグルメ Webサービス"></a>
        </td>
        <td>
            【画像提供：ホットペッパー グルメ】
        </td>
    </tr>
</table>
<br><br>
<table width="600">
    <tr>
        <td>
            <div style="text-align: left;">
                <h4><b>店舗詳細ページです．</b></h4>
            </div>
        </td>

        <form action="/top" method="post">
            <td>
                <div style="text-align: right;"><input class="btn btn-primary btn-lg" type="submit" value="Top画面へ">
                </div>
            </td>
        </form>

    </tr>
</table>

<hr width="600" size="3" noshade>

<% @s.each do |a| %>
<div class="rlist">
    <ul>
        <img src="<%= a.logoimage_url%>"><br>
        <div style="text-align: center;"><img src="<%= a.photo_url%>"></div><br>

        <li><b>：店舗名： <font color="#000000"><%= a.name %></font></b></li>

        <li><b>：住所： <font color="#000000"><%= a.address %></font></b></li>

        <li><b>：営業時間： <font color="#000000"><%= a.open %></font></b></li>

        <li><b>：定休日： <font color="#000000"><%= a.close %></font></b></li>
    </ul>
</div>
<% end %>